<form 
  [formGroup]="form"
  (ngSubmit)="update()">
    <div>
      <div>
        <img width="40" height="40" src="assets/images/rxjs.png"/>
      </div>
  
      <div>
        <div>
            <label>Name</label>
            <input formControlName="productName">
        </div>
        <div>
            <label>Description</label>
            <input formControlName="description">
        </div>
        <div>
            <label>Price</label>
            <input formControlName="price">
        </div>
        <div>
            <label>Creation Date</label>
            <input formControlName="creationDate">
        </div>
      </div>
      <button type="submit" value="submit">{{isCreate ? 'Save' : 'Update'}}</button>

    </div>
  </form>